JWT_EXPIRES_IN=604800
SCHEMA=liquidbnb
JWT_SECRET='xxxxxxxxxxxxxxxx'

# # == Production == # #
DATABASE_URL='postgres://user:pass@host:port/databasename'
NODE_ENV='production'

# # == Local == # #
# NODE_ENV='development'
# DB_FILE=db/dev.db
# PORT=8000