.error {
	margin-left: .3em;
	font-weight: 600;
	font-size: small;
	color: var(--colRed);
	height: 0px;
}
#spotForm {
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}
#spotForm > h1 {
	margin-bottom: .6rem;
}

.formSectionTitle {
	font-weight: 600;
	font-size: 20px;
}
.formSectionTitle > span {
	font-weight: 400;
	font-size: 15px;
}
#spotForm > label, #fieldsCityState > div > label {
	padding: 1em 0 4px;
	font-weight: 600;
	font-size: 14px;
}
#spotForm br {
	user-select: none;
}
#spotForm input, #spotForm textarea {
	padding: .5em;
	border-radius: .5em;
	border: 0px;
	background-color: var(--colGray);
}
#fieldsCityState {
	display: flex;
}
#fieldsCityState > div > label {
	display: flex;
}
#fieldsCityState > div > input {
	width: 100%;
	margin-top: 0;
}
#fieldCity {
	width: 70%;
	margin-right: 1.7em;
}
#fieldState {
	width: 30%;
	margin-right: .8em;
}
.fieldComma {
	font-size: x-large;
	transform: translate(-11px, 40px);
	user-select: none;
	width: 0;
}

.hr {
	width: 100%;
	height: 1px;
	background-color: var(--colGrayDark);
	margin: 1.5em 0;
	padding: 0 1em;
	transform: translateX(-1em);
}
#fieldPrice {
	margin-left: 20px;
}
#spotForm > .fa-dollar-sign {
	height: 0;
	position: relative;
	top: 6.5px
}

#formImgFields {
	padding-top: 1em;
	display: flex;
	flex-direction: column;
}
#formImgFields .error {
	position: relative;
	top: -1.5px;
}

#spotFormCreate {
	padding: 1.2em;
	margin: 1em 0 2.25em;
}