#reviewDeleteModal {
    text-align: center;
}

#reviewDeleteBtnYes, #reviewDeleteBtnNo {
    padding: .7em;
    margin: .7em 0;
}

#reviewDeleteBtnNo {
    background-color: var(--colGrayDarker);
    margin-bottom: 1em;
}