@media screen and (max-width: 550px) {
    #spotAddMobile {
        display: initial !important;
    }
    #spotAddDesktop {
        display: none;
    }
}

#navBar {
    display: flex;
    height: 61px;
    width: calc(100% - 80px);
    max-width: var(--maxBodyWidth);
    position: fixed;
    z-index: 1;
    background-color: var(--colWhite);
    top: 0px;
    padding-top: 8px;
}

#navHr {
    position: fixed;
    width: 150vw;
    height: 1px;
    background-color: var(--colGrayLight);
    top: 69px;
    left: 0px;
}

#navAddSpot {
    margin: auto 0 auto auto;
}
#spotAddDesktop {
    font-weight: 600;
}
#spotAddDesktop:hover, #btnDemoUser:hover { /* link hover */
    color: var(--colRed);
    cursor: pointer;
    text-decoration: underline;
}
#spotAddMobile {
    display: none;
    padding: 11px 1em;
}
#navRight {
    display: inline-flex;
    width: 30em;
    height: min-content;
    margin-left: auto;
}

#navSpace {
    width: 40%;
}
#navLogo {
    height: 56px;
    transition-property: opacity transform;
    transition-duration: .2s;
    transition-timing-function: var(--easeOut);
}
#navLogo:hover {
    cursor: pointer;
    opacity: 80%;
}
#navLogo:active {
    transform: scale(.97);
}
