/* Todo */
form {
    display: grid;
}

.credentialForm {
    padding: .5em 0;
    min-width: 350px;
}
.credentialForm > h1 {
    text-align: center;
}
.credentialForm .error {
    padding-top: .5em;
    padding-bottom: 1em;
    text-align: center;
}
.credentialForm > label {
	padding: 1em 0 4px;
	font-weight: 600;
	font-size: 14px;
}
.credentialForm > input {
	padding: .5em;
	border-radius: .5em;
	border: 0px;
	background-color: var(--colGray);
}
#btnDemoUser {
    color: var(--colTeal);
    font-weight: 600;
    margin: auto;
    width: max-content;
}
.credentialSubmitBtn {
    margin: 2em 0 1em;
    padding: .5em;
}